<h1>Edit this jewel</h1>

<%= render "form", jewel_datum: @jewel_datum %>

<br>

<div>
  <%= link_to "Show", @jewel_datum, class:"btn btn-dark" %> |
  <%= link_to "Back", jewel_data_path, class:"btn btn-dark" %>
</div>
